body {
	background: rgba(44, 62, 80, .8);
	font-family: 'Oswald', 'Futura', sans-serif;
}

a{
	color: coral;
}

#wrapper {
	margin-top: 10% !important;
}

#content {
	background: rgb(248, 241, 158);
	border-radius: 0.5em;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}

#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}

#add-btn{
	background-color: coral;
}

.btn-delete-completed{
	margin-left: auto;
	margin-right: auto;
}

.row-t10 {
	margin-top: 10px;
}

.list-group-t20 {
	margin-top: 20px;
	margin-left: -2em;
}

.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}

footer {
	margin-top: 20px;
	color: white;
}